# Google Gemini API Key
GEMINI_API_KEY=

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Telegram Bots Token
# For internal notifications (sales, AI forecasts, reports)
TELEGRAM_BOT_TOKEN_INTERNAL=
# For client notifications (debt reminders)
TELEGRAM_BOT_TOKEN_CLIENT=

# Owner Settings
OWNER_TELEGRAM_CHAT_ID=
